body, ul, li, div, h1, main, img, a, figure, h2, p, article, section, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  box-sizing: inherit;
  font: inherit;
  display: block;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

body {
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
  color: #2E3532;
}

a {
  display: inline-block;
}

.overview {
  min-height: calc(100vh - 98px);
}

.overview_contact-wrapper {
  width: 100%;
  background: lavender;
}

.overview p {
  margin: 10px;
}

.overview_contact {
  padding-bottom: 10px;
  margin: auto;
  max-width: 900px;
}

.contact_header {
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

.contact_header h1 {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
}

.contact_image {
  display: none;
}

.contact_subheading li {
  padding: 0px 0 5px 10px;
}

.contact_subheading a:hover {
  transition: color 0.5s ease;
  color: #ACD8AA;
}

.contact_link > a {
  text-decoration: underline;
}

.overview_projects {
  padding: 0 10px;
}

.project {
  padding: 10px;
  max-width: 900px;
  margin: auto;
}

.project:nth-child(2n) {
  background: lavender;
}

.project h3 a {
  font-size: 30px;
  color: #ACD8AA;
  padding: 3px 5px;
}

.project h3 a:hover {
  color: #73648A;
  transition: color 0.5s ease;
}

.project_subheading {
  font-style: italic;
  font-size: 18px;
}

.project_tools {
  font-weight: bolder;
}

.project_bullet {
  font-size: 16px;
  padding: 3px 5px;
}

.project_bullet:before {
  display: inline-block;
  content: '⦿';
  padding-right: 5px;
}

.project_image-wrapper {
  display: none;
}

.project_image {
  max-height: 200px;
}

.project_image:hover {
  opacity: 0.8;
}

.footer {
  border-top: 1px solid #73648A;
  color: #73648A;
  padding-left: 5px;
}

.footer > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer li {
  margin: auto 0;
  font-size: 22px;
  margin-right: 2px;
}

.footer a {
  padding: 6px 12px;
}

.footer a:hover {
 transition: color 0.5s ease;
 color: #ACD8AA;
}


@media all and (min-width: 475px) {
  .contact_image {
    display: block;
    max-height: 200px;
    padding: 5px;
    border-radius: 10px;
  }
}

@media all and (min-width: 600px) {
  .project_image-wrapper {
    display: block;
    float: right;
  }
}
