* {
  margin: 0;
  padding: 0;
}

body {
  background: #31588C;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

article {
  padding: 13vw 7vw;
}

section {
  margin-bottom: 15px;
}

article:nth-child(even) {
  background: #b4eaea;
  clip-path: polygon(
    0 calc(100% - calc(100% - 10vw)),
    100% 0,
    100% 100%,
    0 calc(100% - 10vw)
  );
  color: black;
  text-align: right;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
}

h2 {
  margin: 16px 0;
}

a {
  color: inherit;
}

.timeline {
  list-style-type: none;
  margin-bottom: 2vw;
  margin-left: 2vw;
}

.timeline-detail {
  margin-left: 2vw;
}

.tools {
  margin: 5px 0 5px 2vw;
}
